{% extends 'bases/base.html' %}

{% block page_content %}
<div class="content">

    <div class="row">

        <!-- Default box -->
        <div class="card col-8">
            <div class="card-header">
                <h3 class="card-title">Listado de Pacientes</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>
                <div class="card-tools ml-2 mr-2 ">

                    <a href="{% url 'paciente:paciente_new' %}" class="btn btn-success btn-sm"> Nuevo <i
                            class="fas fa-plus-circle fa-lg"></i></a>

                </div>
            </div>
            <div class="card-body">

                {% comment %} {% if not obj %}
                <div class="alert alert-info">No hay registros que mostrar</div>
                {% else %} {% endcomment %}
                <div class="table-responsive">

                    <table class="table table-sm table-bordered table-hover" id="tabla_paciente">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">#</th>
                                <th scope="col">Nombres</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Tel Movil</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Genero</th>
                                {% comment %} <th scope="col">Estado</th> {% endcomment %}
                                <th scope="col">Cajas</th>
                                {% comment %} <th scope="col">Historia</th> {% endcomment %}
                                <th class="all">Acciones</th>
                            </tr>
                        </thead> 
                        <tbody>
                            {% comment %} {% for item in obj %}
                            <tr>
                                <td>{{ item.nombres }} {{ item.apellidos }}</th>
                                
                                <td>{{ item.edad }}</td>
                                <td>{{ item.celular }}</td>
                                <td>{{ item.correo }}</td>
                                <td>
                                    {{ item.genero}}
                                </td>

                                <td>{{ item.estado|yesno:'Activo, Deshabilitado' }}</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-info btn-circle"
                                        href="{% url 'cajas:ingreso_new' item.id %}"> $ <i class="fas fa-hand-holding-usd fa-lg"></i></a>
                                    
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-outline-success btn-circle"
                                        href="{% url 'historia:historia_new' item.id %}"><i
                                            class="fas fa-file-medical-alt"></i> Add</a>
                                    <button class="btn btn-sm btn-outline-info btn-circle"
                                        onclick="return abrir_modal('{% url 'historia:historia_list' item.id %}')"><i
                                            class="fas fa-file-medical-alt"></i> Ver</button>
                                </td>
                                <td>



                                    <button class="btn btn-sm btn-outline-success btn-circle"
                                        onclick="info({{item.id }})"><i class="fas fa-info"></i></button>
                                    <a href="{% url 'paciente:paciente_edit' item.id %}"
                                        class="btn btn-sm btn-outline-warning btn-circle" role="button"><i
                                            class="far fa-edit"></i></a>
                                    <button class="btn btn-sm btn-outline-danger btn-circle"
                                        onclick="return abrir_modal('{% url 'paciente:paciente_disabled' item.id %}')"><i class="fas fa-users-slash"></i></button>
                                </td>
                            </tr>
                            {% endfor%} {% endcomment %}

                        </tbody>
                    </table>
                </div>

                {% comment %} {% endif %} {% endcomment %}

            </div>
            <!-- /.card-body -->
            <!-- <div class="card-footer">
                Footer
            </div> -->
            <!-- /.card-footer-->
        </div>
        <!-- /.card -->
        <div class="card col-4">
            <div class="card-header">
                <h3 class="card-title">Detalle de: {{paciente.nombre}}</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip"
                        title="Collapse">
                        <i class="fas fa-minus"></i></button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip"
                        title="Remove">
                        <i class="fas fa-times"></i></button>
                </div>

            </div>
            <div class="card-body">


                <div id="no_info" class="alert alert-info">No hay registros que mostrar</div>
                <div class="text-center" id="carga"><span class=""><i class="fas fa-spinner fa-2x rotated"></i></span>
                </div>


                <table class="table table-sm table-bordered " id="info">
                    <thead>
                        <tr>
                            <td>Paciente</td>
                            <td id="paciente"> ### </td>
                        </tr>
                        <tr>
                            <td>Edad</td>
                            <td id="edad"> ### </td>
                        </tr>
                        <tr>
                            <td>Medico</td>
                            <td id="medico"> ### </td>
                        </tr>
                        <tr>
                            <td>Ultima visita:</td>
                            <td id="ultima_session"> ### </td>

                        </tr>
                        <tr>
                            <td>Tiempo desde la ultima visita</td>
                            <td id="tiempo_pasado"> ### </td>
                        </tr>
                        <tr>
                            <td>Proxima session programada</td>
                            <td id="proxima_session"> ### </td>
                            <!-- <td id="proxima_hora"> ### </td> -->

                        </tr>
                        <tr>
                            <td>Especialidad:</td>
                            <td id="especialidad"> ### </td>
                        </tr>
                        <tr>
                            <td>Cantidad de visitas:</td>
                            <td id="visitas"> ### </td>
                        </tr>

                    </thead>
                    <tbody>


                    </tbody>
                </table>



            </div>

        </div>
        <!-- /.card -->
    </div>


</div>



{% endblock %}

{% block js_page %}
<script>

    $(document).ready(function () {
        $("#no_info").show()
        $("#carga").hide()
        
        $("#info").hide()
        
        // Funcion para llenar tabla de listado de pacientes.
        
        $('#tabla_paciente').DataTable({
            "serverSide": true,
            "processing": true,
            "ajax": function(data, callback, settings) {
                var columna_filtro = data.columns[data.order[0].column].data.replace(/\./g,"__");
                $.get('/paciente/paciente/', {
                    limite: data.length,
                    inicio: data.start,
                    filtro: data.search.value,
                    order_by: columna_filtro
                }, function(res) {
                    callback({
                        recordsTotal: res.length,
                        recordsFiltered: res.length,
                        data: res.objects
                    }); 
                });

            },
            "columns": [{
                    "data": "id"
                }, {
                    "data": "num","orderable": false
                }, {
                    "data": "nombres"
                }, {
                    "data": "fecha_nacimiento"
                }, {
                    "data": "celular"
                }, {                                                                                                                                                              
                    "data": "correo"
                }, {
                    "data": "genero", "orderable": false
                }, {
                    "data": "action1","orderable": false
                },
                {
                    "data": "action2","orderable": false
                }

            ]
        });
        


    });

//************************************************************
// se captura el btn imprimir
$(document).on("click", ".btn_add", function() {

    fila = $(this).closest("tr");
    user_id = parseInt(fila.find('td:eq(0)').text()); //capturo el ID		            
    //console.log("Editar " + user_id);
    //location.href = '/cajas/ingreso/print/' + user_id;
    window.location.href = ('/historia/historia/new/'+ user_id) ;
});

// se captura el btn imprimir
$(document).on("click", ".btn_ver", function() {

    fila = $(this).closest("tr");
    user_id = parseInt(fila.find('td:eq(0)').text()); //capturo el ID		            
    //console.log("Borrar " + user_id);
    return abrir_modal('/historia/historia/list/' + user_id);
});

// se captura el btn imprimir
$(document).on("click", ".btnImprimir", function() {

    fila = $(this).closest("tr");
    user_id = parseInt(fila.find('td:eq(0)').text()); //capturo el ID		            
    //console.log("Borrar " + user_id);
    info(user_id);
});


// se captura el btn editar
$(document).on("click", ".btnEditar", function() {

    fila = $(this).closest("tr");
    user_id = parseInt(fila.find('td:eq(0)').text()); //capturo el ID		            
    //console.log("Editar " + user_id);
    location.href = '/paciente/paciente/edit/' + user_id;
});


//se captura el btn elimina
$(document).on("click", ".btnBorrar", function() {

    fila = $(this).closest("tr");
    user_id = parseInt(fila.find('td:eq(0)').text()); //capturo el ID		            
    //console.log("Borrar " + user_id);
    return abrir_modal('/paciente/paciente/disabled/' + user_id);
});

//se captura el btn elimina
$(document).on("click", ".btnVerTotal", function() {

    fila = $(this).closest("tr");
    user_id = parseInt(fila.find('td:eq(0)').text()); //capturo el ID		            
   // console.log("Borrar " + user_id);
   location.href ='/paciente/paciente/viewTotal/' + user_id;
});



//************************************************************


    function info(id) {
        $("#carga").show()


        var data = {
            id_paciente: id

        };
        // data = JSON.stringify(data);
        var token = '{{csrf_token}}';
        // alert(token);
        // alert(id);
        console.log(data);

        $.ajax({
            headers: { "X-CSRFToken": token },
            type: "GET",
            url: "/paciente/paciente/view_info",
            data: data,
            success: function (response) {
                $("#carga").hide()
                $("#no_info").hide()
                $("#info").show()

                // aux["order"][0].category

                if (response['status'] == 'OK') {
                    console.log(response['obj'])
                    $("#paciente").text(response['obj']['paciente'])
                    $("#edad").text(response['obj']['edad'] + " Años")
                    $("#medico").text(response['obj']['medico'])
                    $("#ultima_session").text(response['obj']['ultima_session'])
                    $("#tiempo_pasado").text(response['obj']['tiempo_dif'])
                    $("#proxima_session").text(response['obj']['proxima_session'] + '  ' + response['obj']['hora_proxima'] )
                    // $("#proxima_hora").text()

                    $("#especialidad").text(response['obj']['categoria'])
                    $("#visitas").text(response['obj']['visitas'])




                }

                // aux = response;
                // console.log(aux);
            },
            error: function (jqXHR, textStatus, errorThrow) {
                console.log(textStatus, errorThrow);
                mensaje(errorThrow, 'red');
                cerrar_modal();
            }
        });

    }
</script>
{% endblock %}