{% extends 'bases/base.html' %}

{% block page_content %}

<section class="content ">


    <div class="container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header text-center">

                        <h3 class="card-title">Registro de pago.</h3>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="medico">Paciente:</label>
                                    <input class="form-control" type="text" name="paciente" id="paciente" value="{{paciente.nombres}} {{paciente.apellidos}}" readonly>
                                    <input type="hidden" name="id_paciente" id="id_paciente" value="{{paciente.id}}">
                                </div>
                                <div class="col-6">
                                    <label for="fecha_consulta" class="">Fecha actual:</label>
                                    <input type="checkbox" name="fecha_check" id="fecha_check">
                                    <input type="date" class="form-control  " id="fecha_consulta"
                                        name="fecha_consulta" readonly>

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="monto">Monto:</label>
                                    <input class="form-control" type="number" name="monto" id="monto" step="0.01">
                                </div>
                                <div class="col-6">
                                    <label for="tipopago">Tipo de pago:</label>
                                    <select class="form-control" name="tipopago" id="tipopago" required>
                                        <option value="">Seleccione.</option>
                                        {%for item in pago %}
                                        <option value="{{item.id}}">{{item.nombre}}</option>
                                        {% endfor  %}
                                    </select>
                                </div>
                                

                            </div>
                            
                            <div class="form-group ">
                                <label for="id_nombre">Descripcion:</label>
                                <textarea class="form-control" name="descripcion" id="descripcion" cols="30"
                                    rows=5></textarea>

                            </div>




                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger" onclick="goBack()">Volver</button>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js_page %}
<script>
    $(document).ready(function () {
        $("#tipopago").select2({ placeholder: "Seleccione", allowClear: true, theme: "classic" });

        var hoy = new Date();
        // var fecha = hoy.getDate() + '/' + (hoy.getMonth() + 1) + '/' + hoy.getFullYear(); // Fecha cambiada para que se pueda ingresar fecha personalizada
        var fecha =  hoy.getFullYear() + '-' + ("0" + (hoy.getMonth() + 1)).slice(-2) + '-' + hoy.getDate();

       
        var datetime_insitu = fecha.toString();
        $('#fecha_consulta').val(datetime_insitu);
    });

    function goBack() {
        window.history.back()  

    }
    
    $("#fecha_check").change(function (){
        if ($("#fecha_check").is(':checked')) {
            // console.log("funciona")
            $("#fecha_consulta").prop('readonly', false)
            // $("#proxima").prop('required', true)
            // $("#hora").prop('disabled', false)
            // $("#hora").prop('required', true)

        } else {
            // $("#proxima").prop('disabled', true)
            // $("#proxima").prop('required', false)
            // $("#hora").prop('disabled', true)
            // $("#hora").prop('required', false)
            $("#fecha_consulta").prop('readonly', true)

            // console.log("false")
        }
    });

    


</script>
{% endblock %}