{% extends 'bases/base.html' %}

{% block page_content %}

<section class="content ">


    <div class="container-fluid">

        <div class="row">
            <!-- left column -->
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header text-center">

                        <h3 class="card-title">Registro de Salida de stock.</h3>

                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="medico">Razon:</label>
                                    <!-- <input class="form-control" type="text" name="paciente" id="paciente" value="{{paciente.nombres}} {{paciente.apellidos}}" readonly>
                                    <input type="hidden" name="id_paciente" id="id_paciente" value="{{paciente.id}}"> -->
                                    {{ form.razon }}
                                </div>
                                <div class="col-6">
                                    <label for="fecha_consulta" class="">Fecha actual:</label>
                                    <!-- <input type="datetime" class="form-control  " id="fecha_consulta"
                                        name="fecha_consulta" readonly> -->
                                    <input type="checkbox" name="fecha_check" id="fecha_check">
                                    {{form.fecha}}

                                </div>
                            </div>

                            
                            <div class="card m-0 p-0" id="form_item">
                                <div class="form-group row card-body">
                                    <div class="col-5">
                                        <label for="item">Items:</label>
                                        <select class="form-control" name="item" id="item">
                                            <option value="">Seleccione.</option>
                                            {%for item in items %}
                                            <option value="{{item.id}}">{{item.nombre}}</option>
                                            {%endfor %}
                                        </select>
                                    </div>
                                    <div class="col-2">


                                        <label for="cantidad" title="Cantidad">Cant: </label>
                                        <input class="form-control form-control-sm" type="number" name="cantidad"
                                            id="cantidad">
                                    </div>
                                    <div class="col-4">


                                        <label for="um" title="Unidad de medida">UM: </label>
                                        <select class="form-control form-control-sm" name="um" id="um">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-1">

                                        <button type="button" id="btn_add" class="btn btn-outline-success mt-3"><i
                                                class="fas fa-plus"></i></button>
                                    </div>
                                    <input type="hidden" name="idum_basica" id="idum_basica" value="">
                                    <input type="hidden" name="um_basica" id="um_basica" value="">
                                    <input type="hidden" name="stock" id="stock" value="">

                                </div>
                                <div class="form-group row m-0 p-0">
                                    <div class="col-12 text-right">
                                        <p class="m-0 p-0 bg-info text-dark" id="info">....</p>
                                    </div>
                                </div>
                                <div class="form-group row card-body">
                                    <div class="table-responsive">
                                        <table id="detalles"
                                            class="table table-sm table-striped table-bordered table-condensed table-hover ">
                                            <thead class="bg-blue-active">
                                                <th>Nro</th>
                                                <th>Opciones</th>
                                                <th>Item</th>
                                                <th>Cantidad</th>
                                                <th title="Unidad de medida.">UM</th>


                                            </thead>

                                            <tbody>

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>

                         




                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer text-center">
                            <button type="button" class="btn btn-danger" onclick="goBack()">Volver</button>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block js_page %}
<script>
    var hoy = new Date();
    var fecha = hoy.getFullYear() + '-' + ("0" + (hoy.getMonth() + 1)).slice(-2) + '-' + ("0" + (hoy.getDate())).slice(-2);
    $(document).ready(function () {
        $("#id_tipo_pago").select2({ placeholder: "Seleccione", allowClear: true, theme: "classic" });

        $("#item").select2({ placeholder: "Seleccione", allowClear: true, theme: "classic" });
        $("#um").select2({ placeholder: "Seleccione", allowClear: true, theme: "classic" });
       
        var datetime_insitu = fecha;
        if (!'{{obj}}') {
            $("#id_fecha").prop("type", "date")

            $('#id_fecha').val(datetime_insitu);
        }


        $("#id_fecha").prop("readonly", true)
        // $("#form_item").hide()

        $('#btn_add').click(function () {
            agregar();
        });
    });

    function goBack() {
        window.history.back()
    }

    $("#fecha_check").change(function () {
        if ($("#fecha_check").is(':checked')) {
            // console.log("funciona")
            $("#id_fecha").prop('readonly', false)
            $("#id_fecha").prop("type", "date")


        } else {

            $("#id_fecha").prop('readonly', true)
            $("#id_fecha").val(fecha)


        }
    });


    
    $("#item").change(function () {
        item = $("#item").val()
        um = $("#um")
        info = $("#info")
        idum_basica = $("#idum_basica")
        um_basica = $("#um_basica")
        stock = $("#stock")
        info.hide()
        var data = {
            id_item: item
        };
        // data = JSON.stringify(data);
        var token = '{{csrf_token}}';
        console.log(data);

        $.ajax({
            headers: { "X-CSRFToken": token },
            type: "GET",
            url: "/historia/item/view_instance",
            data: data,
            success: function (response) {
                // aux["order"][0].category
                if (response['obj'] == 'OK') {

                    console.log(response["sub_categoria"])
                    um.find('option').remove()
                    um.append('<option value="-"> Selecione</option>');
                    for (let index = 0; index < response["sub_categoria"].length; index++) {
                        um.append('<option value="' + response["sub_categoria"][index].id + '">' + response["sub_categoria"][index].unidad_medida + " - " + response["sub_categoria"][index].origen + '</option>');
                    }
                    um.prop('disabled', false)
                }
                if (response['obj'] == 'NOT') {
                    um.hide()
                    um.find('option').remove()
                    um.prop('disabled', true)
                }
                aux = response;
                console.log(aux);
                info.show()
                info.text("Cant disp: " + response['item'])
                idum_basica.val(response["item_um"])
                um_basica.val(response["item_um_n"])
                stock.val(response["stock"])

            },
            error: function (jqXHR, textStatus, errorThrow) {
                console.log(textStatus, errorThrow);
                mensaje(errorThrow, 'red');
                cerrar_modal();
            }
        });
    });


    var cont = 1;
    function agregar() {
        /*  inicio variables   */
        item_id = $("#item").val();

        item = $("#item option:selected").text();

        cantidad = $("#cantidad").val();
        um_basica = $("#um_basica").val();
        um_basica_id = $("#idum_basica").val();
        um = $("#um option:selected").text();
        um_equiv = um.split("-")[1]
        um_id = $("#um").val();
        stock = $("#stock").val()
        
        

        res = 0
        
        console.log(um_id)
        if(cantidad == ""){
            alert("El campo cantidad no puede estar vacio!!! ");
            return 
        }
        
        if(um_id == "" || um_id == null){
            // alert("se calcula por unidad sin grupo_um")
            res = cantidad
            um_id = 0
            
        } 
        if(um_id == "-"){
            alert("Debe elegir una unidad de medida")
            return
        }
        if(um_id >0){
            // alert("Se calcula por multiplicacion ")
            res = cantidad * um_equiv
        }
        // if(res > stock){
        //     alert("La cantidad no puede ser mayor que el stock disponible.")
        //     return
        // }
        



        if (cantidad != "") {

            var fila = '<tr class="selected" id="fila' + cont + '"><td>' + cont + '</td>' +
                '<td><button type="button" class="btn btn-warning" onclick="eliminar(' + cont + ');">X</button></td>' +
                '<td><input type="hidden" name="iditem[]" value="' + item_id + '">' + item + '</td>' +
                '<td><input type="hidden" name="idcantidad[]" value="' + res + '">' + res + '</td>' +
                '<td><input type="hidden" name="idumb[]" value="' + um_basica_id + '">' + um_basica + '</td>' +
                '<input type="hidden" name="idgrupo[]" value="' + um_id + '">'+'<input type="hidden" name="multiplicador[]" value="' + cantidad + '">' +'</tr>';
            cont++;

            $("#detalles").append(fila);

        }
        else {
            alert("El campo cantidad no puede estar vacio!!! ");
        }
    }

    function eliminar(index){
        
        $("#fila"+index).remove();
        
    }




</script>
{% endblock %}